<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <input name="input">
        <button type="submit">Отправить</button>
    </form>
    {% for event in events %}
    <div>{{ event.id }}</div>
    <div>{{ event.title }}</div>
    <div>{{ event.date }}</div>
    <div>{{ event.location }}</div>
    {% endfor %}
</body>
</html>